

body {
    background-image: url(/images/Excited.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.activities {
    /* display: inline-block; */
    align-items: center;
    padding-top: 0px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}

div p {
    /* display: inline-block; */
    font-size: 56px;
    margin-inline: 3vw;
    color: rgb(16, 204, 163);
    background-color: rgb(14, 13, 75);
    padding: 10px;
}

div.button {
    position: absolute;
    left: 35%;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: rgb(31, 95, 6);
    border: none;
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    div p {
        /* display: inline-block; */
        font-size: 40px;
        margin-inline: -8vw;
        color: rgb(14, 13, 75);
        background-color: rgb(16, 204, 163);
        padding: 10px;
    }

    div.button {
        flex-direction: column;
        left: 25px;
    }

    button {
        margin-top: 10px;
        padding: 15px 25px;
    }
}
