/* body {
    background-image: url(/images/Bored.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.activities { */
    /* display: inline-block; */
    /* align-items: center;
    padding-top: 0px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}

div p { */
    /* display: inline-block; */
    /* font-size: 56px;
    margin-inline: 3vw;
    color: rgb(230, 20, 20);
}

div.button {
    position: absolute;
    left: 35%;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    font-family: sans-serif;
    font-weight: 800;
    color: #fff;
    background-color: rgb(31, 95, 6);
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
} */

body {
    background-image: url(/images/Bored.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 15%;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 30px;
}

button {
    font-family: sans-serif;
    font-weight: 800;
    color: #fff;
    background-color: rgb(31, 95, 6);
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
}